@font-face {
  font-family: "Pokemon-Hollow";
  src: url("../resources/fonts/Pokemon-Hollow.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../resources/fonts/Roboto-Regular.woff") format("woff");
}

body {
  font-family: "Roboto-Regular";
  background-image: url("../resources/images/bg_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#cards {
  max-width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 220px;
  height: 330px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding-top: 1rem;
  border: 1px solid #000;
  border-radius: 10%;
  background-color: rgb(248, 248, 248);
  opacity: 80%;
  transition: all .3s;
}

  .card:hover {
    cursor: default;
    margin: 0;
    width: 240px;
    height: 360px;
    font-weight: 700;
    opacity: 100%;
  }

.name {
  font-family: "Pokemon-Hollow";
  margin-top: .5rem;
  font-size: 2rem;
  font-weight: 700;
 }

.info {
  width: 92%;
  height: 27%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 14px;
}

.moves,
.stats {
  width: 49%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.separator {
  width: 1px;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
}

@media (max-width: 767px) and (orientation: landscape) {
  body {
    background-position: 0 -650px;
  }
}